{% extends "ProyectoWebApp/base.html" %}

{% load static %}

 {% block content %}  

    {% for post in posts %}
       

 
        <section class="page-section clearfix">
            <div class="container ">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width:50%">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                
                <span class="section-heading-lower"> {{post.titulo}} </span>
                <span class="section-heading-upper"> {{post.contenido}} </span>

                </h2>
                <div style="text-align: left;">
                   <p style="text-decoration: solid; color:red" > AUTOR: {{post.autor  }}   </p>   

                </div>
        
                </div>
            </div>
            </div>
        </section>
        
       
    {% endfor %}

        <div style= "text-align: center;margin: auto; width: 75%;background-color:green;">
            CATEGORIAS:
            
            {% for post in posts %}
                {% for categoria in post.categorias.all %} 

                      <a href="{% url 'categoria' categoria.id %} " class="links" >   {{categoria.nombre}} </a>
                {% endfor %} 

            {% endfor %}

        </div>




         



 {% endblock  %}